{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="paypal-container">
        <script src="https://www.paypal.com/sdk/js?client-id=BAAZIOYYujNEBeteqROrVie5wbEbUxA0AFpUAELfGdc_6mYRybYnY-UWt8tamWv3rwosW0CdDycxfZIVAQ&components=hosted-buttons&disable-funding=venmo&currency=USD"></script>
        <div id="paypal-container-R6VLKSHRM2EEU"></div>
        <script>
          paypal.HostedButtons({
            hostedButtonId: "R6VLKSHRM2EEU",
          }).render("#paypal-container-R6VLKSHRM2EEU");
        </script>
    </div>
</div>

<style>
    .container-fluid {
        height: 150vh; 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0036da; 
        background-image: url("static/img/sponsor.jpg"); 
        background-size: 20%;
        background-position: center; 
        background-repeat: repeat; 
    }
    
    .paypal-container {
margin-bottom: 200px;
        background-color: #fff;
        padding: 20px;
        width: 300px; 
        max-width: 100%; 
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        border-radius: 8px; 
    }
</style>

{% endblock %}
